body {
	background: rgba(179,220,237,1); /* For browsers that do not support gradients */
	background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);/* For Firefox*/
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));/* For Safari*/
	background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);/* For Safari*/
	background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);/* For Opera*/
	background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);/*For IE*/
	background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);/* Standard syntax */
}
h1 {
       	text-align:center;
}
.search {
       	position: relative;
	color: #aaa;
	font-size: 16px;
	margin-left: 400px;
	margin-top: 50px;
}
.search input {
	width: 250px;
	height: 32px;
	background: #fcfcfc;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.search input { text-indent: 32px;}
.search .fa-search { 
	position: absolute;
	top: 10px;
	left: 10px;
}
input[type=text]:focus {
	width: 30%;
}
#rt {
  float:right;
  margin: -50px 450px 0px 80px;
}
#p1 {
	display:inline;
	padding-right: 40px;
}
#p2 {
	display:inline;
	margin-left:0px;
	margin-right:35px;
}
#st {
	float:right;
	margin-right: 480px;
	margin-top: -33px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 34px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: " ";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .3s;
	transition: .3s;
}
.second {
	margin-top: 30px;
}
#ic {
	padding-left: 450px;
	padding-right:40px;
}
#tmp {
  float:right;
  margin-top:20px;
  margin-right:500px;
  padding: 50px;
  border: 3px solid #4a3f3f;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
#cont {
	text-align: center;
}
