h1 {
       	text-align:center;
}
.search {
       	position: relative;
	color: #aaa;
	font-size: 16px;
}
.search input {
	width: 250px;
	height: 32px;
	background: #fcfcfc;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.search input { text-indent: 32px;}
.search .fa-search { 
	position: absolute;
	top: 10px;
	left: 10px;
}
input[type=text]:focus {
	width: 25%;
}
#rt {
  float:right;
  margin: -50px 450px 0px 80px;
}
p {
  display:inline;
}
#p1 {
  padding-right: 40px;
}
#p2 {
  margin-left:0px;
  margin-right:35px;
}
#st {
  float:right;
  margin-right: 480px;
  margin-top: -33px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: " ";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

